server:
  port: 8080

logging:
  level:
    root: info
    '[com.skala.basic]': debug

management:
  endpoints:
    web:
      exposure:
        include: health, env
  endpoint:
    health:
      show-details: always
    env:
      show-values: never

spring:
  datasource:
    url: jdbc:h2:file:./data/skala-stock;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
